<% include ../partials/header %>

<div class="container">
    <header class="jumbotron">
        <div class="container">
            <h1>Welcome to my personal blog!</h1>
            <p>Just giving a little insight into my personal life!</p>
            <p>
                <a class="btn btn-primary btn-lg" href="/blogposts/new">Add New Blogpost</a>
            </p>
        </div>
    </header>

    <div class="row text-center" style="display:flex; flex-wrap: wrap;">
        <!--Should be in stylesheet-->
        <% blogposts.forEach(function(blogpost){ %>
        <div class="col-md-3 col-sm-6">
            <div class="thumbnail">
                <img src="<%= blogpost.image %>">
                <div>
                    <h4><%= blogpost.name %></h4>
                </div>
                <p>
                    <a href="/blogposts/<%= blogpost._id %>" class="btn btn-primary">More info</a>
                </p>
            </div>
        </div>
        <% }); %>
    </div>
</div>

<% include ../partials/footer %>